{{ define "main" }}

<h1>Homepage</h1>

<nav>
  <a href="{{ "/about" | relURL }}">
    <span>About</span>
  </a>
  <a href="{{ "/work" | relURL }}">
    <span>Work</span>
  </a>
  <a href="{{ "/contact" | relURL }}">
    <span>Contact</span>
  </a>
  <a href="{{ "/blog" | relURL }}">
    <span>Blog</span>
  </a>
</nav>
<a href="{{ "/test" | relURL }}">A Test Link</a>
<a href="{{ "/about" | relURL }}">About</a>
<a href="{{ "/work" | relURL }}">Work</a>
<a href="{{ "/contact" | relURL }}">Contact</a>
<a href="{{ "/blog" | relURL }}">Blog</a>

{{ end }}
