/*********** 
* SITE WIDE IMPORT
************/



/* Base Styles */

body {
  font-size: calc(16px + .7vmin);
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #E6E6E7;
  /* color: #17181F; */
  color: #291957;
  line-height: 1.4;
  margin: 0
}

a {
  /* color: #17181F; */
  color: #291957;
  text-decoration: none;
  /* border-bottom: 1px dashed #17181F; */
  border-bottom: 1px dashed #291957;
  opacity: 80%;
}

.content {
  padding: 0 32px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  font-family: 'Playfair Display', 'Times', serif;
  line-height: 1.1;
  margin-bottom: 2rem;
}

h1 {
  font-size: calc(60px + .7vmin);
}

h2 {
  font-size: calc(48px + .7vmin);
}



/* Navigation */

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
} 

.navigation a {
  background-position: center;
  background-size: cover;
  text-align: center;
  border-bottom: 0;
  font-weight: bold;
  font-family: 'Playfair Display', 'Times', serif;
  line-height: 1.1;
  font-size: calc(60px + 1vmin);
  height: 100%;
  position: relative;
  opacity: 1;
  
}

.navigation a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 150ms;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(41, 24, 87, 0.5)
}

.navigation a:hover span {
  transform: translateX(-50%) translateY(-50%) scale(1.25);
}

.navigation__about {
  background-color: #ED736D;
  background-image: url(http://tannerwoodworth.com/assets/images/about2.JPG);
}

.navigation__work {
  background-color: #ECFFFF;
  background-image: url(http://tannerwoodworth.com/assets/images/work.jpg);
}

.navigation__contact {
  background-color: #FDF6C4;
  background-image: url(http://tannerwoodworth.com/assets/images/contact.jpg);
}

.navigation__blog {
  /* background-color: #ED736D; */
  background-image: url(http://tannerwoodworth.com/assets/images/blog.jpg);
}

@media (max-width: 600px) {
  .navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  } 
}